@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom css by iffat*/
.main-banner {
  background: rgb(7, 121, 144);
  padding-top: 40px;
}

.banner-header {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}

.bg-clr {
  background: rgb(7, 121, 144);
}

.table-record td,
.table-record th {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 14px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.inline-icon {
  display: inline;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 17px;
}

.bg-red {
  background-color: red;
}

.white-btn {
  background-color: white;
  color: black;
}

.button-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
}



/* pagination & table pages css  */

.tbl-pagination-wrapper {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.pagination-limit-wrapper select {
  background-color: black;
  color: white;
}

/* pagination & table pages css  */