@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom css by iffat*/
/* .main-banner {
  background: rgb(7, 121, 144);
  padding-top: 40px;
} */

.banner-header {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}

.colored-btn {
  background-color: rgb(7, 121, 144) !important;
  font-size: 12px !important;
  text-transform: uppercase;
  margin: auto;
}

.table-record td,
.table-record th {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 14px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.inline-icon {
  display: inline;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 17px;
}

.bg-red {
  background-color: red !important;
  border: none !important;
}

.white-btn {
  background-color: white;
  color: black;
}

.button-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
}



/* pagination & table pages css  */

.tbl-pagination-wrapper {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.pagination-limit-wrapper select {
  background-color: black;
  color: white;
}

/* pagination & table pages css  */

.filter-box {
  padding-top: 35px;
  background: #077990;
  padding-bottom: 20px
}

.white-btn {
  background-color: white !important;
  color: black !important;
  font-size: 12px !important;
  text-transform: uppercase;
}

.table-header>th {
  background-color: #077990 !important;
}

.table-data td {
  font-size: 13px;
  padding-bottom: 5px;
  text-align: right;
}

.table-data th {
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 5px;
}

.arrow-icon {
  font-size: 22px;
  color: #077990;
}

.arrow-link {
  border-bottom: none;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-title {
  border-bottom: 1px solid #d2d2d2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.address-box:hover {
  color: white !important;
}

.pagination {
  display: flex;
  gap: 1rem;
  /* color: var(--secondary-color); */
  align-items: center;
  list-style: none;
  font-size: 14px;
  /* font-family: var(--poppins-regular); */
  font-weight: 500;
}
.custom-previous-class,
.custom-next-class,
.pagination .active {
  /* background-color: var(--primary-color); */
  color: #06798F;
  border: 1px solid #06798F;
  padding: 4px 11px;
  border-radius: 6px;
  cursor: pointer;
}
.previous{
  color: #06798F !important;
}